# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.idea
.idea
*.xml
*.iml
cmake-build-debug/
.vs/
build/
.vscode/
debug/
target/

Cargo.lock

**/*.rs.bk

*.pdb
.cache/
*.cache
Oxide-Database/data/
