.box-container {
    transition: all 0.8s ease-in-out;
}

.highlight {
    border: 3px solid #fcf4f4;
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.8);
    border-radius: 10px;
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.1);
}

@keyframes highlight-animation {
    0% {
        border-color: #ff0000;
        box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
        transform: scale(1.05);
    }
    50% {
        border-color: #ff9900; 
        box-shadow: 0px 0px 25px rgba(255, 165, 0, 0.8);
        transform: scale(1.1);
    }
    100% {
        border-color: #ff0000;
        box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.8);
        transform: scale(1.05);
    }
}

.highlight {
    animation: highlight-animation 2s infinite;
}
/* -----------------------------------------------------------------------
 *  Style for the home button used in every view to come back to home page
 * -----------------------------------------------------------------------
 * */
#home-button {
    background-color: #3498db;
    color: #1a1a1a;
    border: 2px solid #2980b9;
    border-radius: 7px;
    padding: 12px 24px;
    font-size: 25px;
    padding-right: 70px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    background-image: url('assets/icons/home.svg');
    transition: all 0.3s ease-in-out;
    background-size: 50px 50px;
    background-position: 85% center;
}

#home-button:hover {
    background-color: rgb(111, 92, 235);
    border: 3px solid #fcf4f4;
    box-shadow: 0px 0px 5px rgba(70, 56, 196, 0.8);
    border-radius: 10px;
    transform: scale(1.05);
    animation: highlight-animatio 3s infinite;
    background-image: url('assets/icons/home.svg');
    background-size: 50px 50px;
    background-position: center;
    color: transparent;
}

@keyframes highlight-animatio {
    0% {
        border-color: #2e00f9;
        box-shadow: 0px 0px 5px rgba(30, 0, 255, 0.8);
        transform: scale(0.95);
    }
    50% {
        border-color: #20abe7;
        box-shadow: 0px 0px 8px rgb(74, 162, 196);
        transform: scale(1);
    }
    100% {
        border-color: #2e00f9;
        box-shadow: 0px 0px 5px rgba(30, 0, 255, 0.8);
        transform: scale(0.95);
    }
}

#home-button:active {
    background-color: #1f6db2; 
    background-image: url('assets/icons/home.svg');
    background-size: 50px 50px;
    color: transparent;
    border: 3px solid #1a5a8f;
    transform: scale(0.95);
}

/*----------------------------------------------------*/

#push-button {
    font-weight: bold;
    border: solid;
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    color: #1a1a1a;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #00ccff;
}

#push-button:hover {
    transform: scale(1.05);
    background-color: #00b3e6;
}

#pop-button {
    font-weight: bold;
    border: solid;
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 5px;
    color: #1a1a1a;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #ff6699;
}

#pop-button:hover {
    transform: scale(1.05);
    background-color: #e65c85;
}

#sort-shuffle-button {
    font-weight: bold;
    border: solid;
    padding: 10px 20px;
    margin: 15px;
    color: #1a1a1a;
    border-radius: 5px;
    background-color: #fdfd96;
}

#sort-shuffle-button:hover {
    transform: scale(1.05);
    background-color: #cdcd79;
}


#square-element {
    border-radius: 10px;
    border: 2px solid #00008B;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #0000FF;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#square-element:hover {
    transform: scale(1.05);
    background-color: #1E90FF;
}
#help-button {
    background-color: #0000FF;
    background-image: url('assets/icons/help.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 20px;
    transition: transform 0.3s ease;
}

#help-button:hover {
    transform: scale(1.1);
}

#back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#back-button:hover {
    background-color: #45a049;
}

#drawing-background {
    background-color: #282C34;
}
/* -----------------------------------------------------------------------
 *  Style for the text on the help view
 * -----------------------------------------------------------------------
 *      help-title -> Title for the view
 *      help-subtitle ->
 * */

#help-view {
    background-color: #282C34;
    color: #FFFFFF;
    padding: 20px;
}

#help-title {
    font-family: 'Cascadia Code', monospace;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

#help-subtitle {
    font-family: 'Cascadia Code', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

#help-content {
    font-family: 'Cascadia Code', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#help-note {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}
